/* CSS reset */

html, body, div, span, applet, object, iframe, h5, h6, p, ul{
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

button{
    all: unset; 
}

body{
    margin: 0;
    padding: 0;
}

a:link, a:visited{
    text-decoration: none;
}

.navbar{
    display: flex;
    width: 100%;
    color: black;
    background: #A3A3A3;
}

.navbar a:link, .navbar a:visited{
    color: white;
}

.navbar-home{

}

.navbar .nav-container{
    width: 100%;
    display: flex;
    text-align: center;
    font-size: 1.2rem;
    justify-content: flex-start;
    gap: 60px;
    padding-left: 20px;
}

.nav-container .navbar-home{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 60px;
}

.nav-container .navbar-home img{
    width: 100%;
}

.nav-item-container ul{
    list-style: none;
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    height: 100%;
}


.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.log-out{
    display: flex;
    text-decoration: none;
    align-items: center;
}

.log-out ul{
    list-style: none;
}

.log-out button{
    color: white;
    cursor: pointer;
}

.btn-container{
    margin-bottom: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.add-property-btn, .add-option-btn{
    padding: 15px;
    background: blue;
    color: white;
    border-radius: 10px;
}

.list-table{
    width: 100%;
    max-width: 1400px;
}

.list-table tbody tr td{
    text-align: center;
}

.list-table .action-btn{
    display: flex;
    justify-content: center;
    gap: 20px
}

.action-btn a{
    padding: 15px;
    border-radius: 10px;
    background: blue;
    color: white;
    border: transparent;
}

.delete-btn{
    padding: 15px;
    border-radius: 10px;
    background: red;
    color: white;
    cursor: pointer;
    border: transparent;
}


/* FORM */

.form-create{
    width: 100%;
    margin: 0 auto;
    max-width: 600px;
    display: flex;
    flex-direction: column;
}

.form-group{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.form-group label{
    margin-bottom: 10px;
}

.form-group input, .form-group textarea{
    width: 100%;
    max-width: 1400px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid gray;
    margin-bottom: 20px;
    padding: unset;
}

.form-check{
    text-align: center;
    margin-bottom: 5px;
}

.form-create button{
    cursor: pointer;
    background-color: blue;
    color: white;
    padding: 15px;
    border: transparent;
    border-radius: 10px;
}

.home-container{
    text-align: center;
    width: 100%;
}


/* Card list */

.list-container{
    padding: 0 40px;
}

.listing-title{
    text-align: center;
}

.listing-properties{
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}

.list-element{
    width: calc((100% / 3) - 50px );
}

.list-element .card-text, .list-element .card-body, .list-element .card-title{
    margin: 0;
}

/* Pagination */ 

.hidden{
    display: none;
}

/* Card */

.card{
    border: 1px solid black;
    padding: 5px;
}

.card-title{
    font-size: 24px;
    padding-bottom: 15px;
}

.card-title a:link, .card-title a:visited{
    text-decoration: none;
    color: black;
}

/* Search filter */

.search-property-form{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 10px;
}

.search-property-form input::-webkit-outer-spin-button, input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

.search-property-form input{
    padding: 10px;
}

.search-property-form button{
    cursor: pointer;
}

/* List property */

.container-list-property{
    width: 100%;
}

.container-list-property .row{
    display: flex;
    gap: 20px;
    width: 100%;
    justify-content: center;
}

.list-property-element{
    width: calc((100% / 3) - 20px);
}

/* Single page */

.form-contact-container{
    text-align: center;
    /* width: 100%; */
    margin-bottom: 60px;
}

.form-contact .row{
    display: flex;
    gap: 20px;
}

.form-contact .btn{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
    background: #76CDE4;
    border: 1px solid;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.form-contact .btn:hover{
    background: #38ABC9;
    transition: all 0.3s;
}

hr{
    width: 90%;
}

.property-desc{
    font-size: 20px;
}

.row-info-property{
    display: flex;
    gap: 60px;
    width: 100%;
    justify-content: center;
}

/* .row-info-property{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.row-info-property .row-title{
    padding: 0 40px;
} */