/* CSS reset */

html, body, div, span, applet, object, iframe, h5, h6, p, ul{
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

button{
    all: unset; 
}

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

a:link, a:visited{
    text-decoration: none;
}

.navbar{
    display: flex;
    width: 100%;
    color: black;
    background: #475465;
}

.nav-link.active{
    position: relative;
}

.nav-link.active::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background: white;
    bottom: -2px;
    left: 0;
}


.navbar a:link, .navbar a:visited{
    color: white;
}

.navbar .nav-container{
    width: 100%;
    display: flex;
    text-align: center;
    font-size: 1.2rem;
    justify-content: flex-start;
    gap: 60px;
    padding-left: 20px;
}

.nav-container .navbar-home{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 60px;
}

.nav-container .navbar-home img{
    width: 100%;
}

.nav-item-container ul{
    list-style: none;
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    height: 100%;
}


.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
    margin-bottom: 120px;
}

.log-out{
    display: flex;
    text-decoration: none;
    align-items: center;
}

.log-out ul{
    list-style: none;
}

.log-out button{
    color: white;
    cursor: pointer;
}

.login-btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form{
    width: 100%;
    max-width: 400px;
}

.btn-container{
    margin-bottom: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 20px;
}

.add-property-btn, .add-option-btn, .validate-btn{
    padding: 15px;
    background: #556C96;
    color: white;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}

.add-property-btn:hover, .add-option-btn:hover, .validate-btn:hover{
    background: #556c96ac;
}

.list-table{
    width: 100%;
    max-width: 1400px;
    border: 1px solid black;
    border-radius: 10px;
}

.list-table tbody tr:nth-child(2n){
    background-color: lightgray;
}

.list-table tbody tr td{
    text-align: center;
}

.list-table .action-btn{
    display: flex;
    justify-content: center;
    gap: 20px
}

.action-btn a{
    padding: 15px;
    border-radius: 10px;
    /* background: #556C96; */
    color: white;
    border: transparent;
}

.delete-btn{
    padding: 15px;
    border-radius: 10px;
    /* background: #FF584D; */
    color: white;
    cursor: pointer;
    border: transparent;
}


/* FORM */

.form-create{
    width: 100%;
    margin: 0 auto;
    /* max-width: 600px; */
}

.global-row{
    display: flex;
    width: 100%;
    gap: 60px;
}

.global-row .form-row{
    width: 50%;
}

.form-create .form-row .row{
    display: flex;
    gap: 20px;
}

.form-group{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.form-picture{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ts-wrapper{
    width: 100%;
    margin-bottom: 10px;
}

.form-group label{
    margin-bottom: 10px;
}

.form-group input, .form-group textarea{
    width: 100%;
    max-width: 1400px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid gray;
    margin-bottom: 20px;
    padding: unset;
}

.form-group textarea{
    resize: none;
    height: 180px;
    width: 100%;
}

.form-check{
    text-align: center;
    margin-bottom: 5px;
}

.form-create button{
    cursor: pointer;
    background: #556C96;
    color: white;
    padding: 15px;
    border: transparent;
    border-radius: 10px;
}

.home-container{
    text-align: center;
    width: 100%;
}


/* Card list */

.list-container{
    padding: 0 40px;
}

.listing-title{
    text-align: center;
}

.listing-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
}

.listing-properties{
    display: flex;
    gap: 30px 50px;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.list-element{
    width: calc((100% / 3) - 50px );
}

/* .list-element {
    opacity: 0;
    animation: slideInRight 1.5s ease-in-out forwards;
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
} */

.list-element .card-text, .list-element .card-body, .list-element .card-title{
    margin: 0;
}

/* Pagination */ 

.hidden{
    display: none;
}

/* Card */

.card{
    height: 100%;
}

.card-image{
    /* height: 300px; */
    height: 70%;
    width: 100%;
}

.card-image img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-body{
    padding: 5px;
    border: 1px solid;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: transparent;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.card-title{
    font-size: 24px;
    padding-bottom: 15px;
}

.card-title a:link, .card-title a:visited{
    text-decoration: none;
    color: black;
}

.card-link:link, .card-link:visited{
    color: black;
    text-decoration: none;
}

/* Search filter */

.search-property-form{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 10px;
}

.search-property-form input::-webkit-outer-spin-button, input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

.search-property-form input{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid;
}

.search-property-form button{
    cursor: pointer;
}

/* List property */

.container-list-property{
    width: 100%;
}

.container-list-property .row{
    display: flex;
    gap: 35px;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

.list-property-element{
    width: calc((100% / 3) - 20px);
}

/* Single page */

.form-contact-container{
    text-align: center;
    width: 100%;
    margin-bottom: 60px;
    padding: 0 40px;
    /* max-width: 1400px; */
}

.form-contact{
    flex-direction: column;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-contact .row{
    display: flex;
    gap: 20px;
    width: 100%;
    justify-content: center;
}

.form-contact .btn{
    /* width: 100%; */
    display: flex;
    justify-content: center;
    padding: 10px;
    background: #4788D7;
    border: 1px solid;
    color: white;
    font-size: 20px;
    cursor: pointer;
    border-radius: 10px;
}

.form-contact .btn:hover{
    background: #38ABC9;
    transition: all 0.3s;
}

hr{
    width: 100%;
}

.property-title{
    font-size: 2rem;
    margin: 10px 0;
}

.table.feature tr:nth-child(odd){
    background-color: lightgray;
}

.test{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 20px;
    align-items: center;
    gap: 50px;
    text-align: center;
}

.property-desc{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 20px;
    width: 100%;
    text-align: center;
}

.row-info-property{
    display: flex;
    gap: 60px;
    width: 100%;
    justify-content: center;
    margin-bottom: 30px;
}

.row-title{
    width: 100%;
    max-width: 1400px;
    text-align: center;
}

.row-title table{
    width: 100%;
}

.list-group{
    list-style: none;
}

.list-group li{
    width: 100% !important;
    margin-bottom: 10px;
}

/* Carousel */

.carousel-container {
    max-width: 800px;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
  }
  
  .carousel-inner {
    display: flex;
    transition: transform 0.3s ease-in-out;
  }
  
  .carousel-item {
    flex: 0 0 800px;
    height: 450px;
  }
  
  .carousel-item img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  
  .carousel-prev,
  .carousel-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    color: white; /* Adjust the color as needed */
    font-size: 24px; /* Adjust the font size as needed */
    transition: color 0.3s ease-in-out;
  }
  
  .carousel-prev:hover,
  .carousel-next:hover {
    color: #aaa; /* Adjust the hover color as needed */
  }
  
  .carousel-prev {
    left: 10px;
  }
  
  .carousel-next {
    right: 10px;
  }
  

  .form-picture-container{
    position: relative;
    max-width: 673px;
  }

  .form-picture-container .delete-picture{
    position: absolute;
    bottom: 0;
    width: 96%;
    left: 0;
    text-align: center;
  }

  footer{
    width: 100%;
    background-color: #475465;
    color: white;
    margin-top: auto;
  }

  .footer-container{
    padding: 10px 10px 30px 10px;
  }

  .footer-links{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 18px;
  }

  .footer-links a:link, a:visited{
    text-decoration: none;
    color: white;
  }

  /* Success alert */
  .alert-success{
    background: #08B91C;
    width: 28%;
    color: white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    border-radius: 10px;
    font-size: 20px;
    border: 1px solid #2BAD3A;
  }


  /* Financement */ 

  .financing-simulator-container{
    width: 100%;
    max-width: 600px;
    text-align: center;
  }

  /* Paginate */

  .paginate-property{
    width: 100%;
    margin-bottom: 30px;
  }

  .paginate-property div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 20px;
  }

  .paginate-property div a:visited, .paginate-property div a:link{
    color: black;
  }

  .paginate-property div.hidden{
    display: none;
  }

  /* Mobile menu*/ 

  .mobile-menu {
    display: none;
    top: -100%;
  }

  /* Responsive */

  @media screen and (max-width: 1450px) {
    .form-contact-container {
        text-align: center;
        width: 100%;
        margin-bottom: 60px;
        padding: 0 40px;
        max-width: 800px;
    }

    hr{
        max-width: 800px;
    }
  }

  @media screen and (max-width: 1280px) {

    .listing-container{
        padding: unset;
    }

    .list-element {
        width: calc((100% / 2) - 70px );
    }

    .form-contact-container {
        text-align: center;
        width: 100%;
        margin-bottom: 60px;
        padding: 0 40px;
        max-width: 600px;
    }

    hr{
        max-width: 600px;
    }

    .carousel-container {
        max-width: 600px;
        margin-bottom: 20px;
        position: relative;
        overflow: hidden;
    }
  }

  @media screen and (max-width: 1024px) {

    .navbar-admin{
        display: none;
    }

    .nav-container {
        display: none;
    }

    .mobile-menu-items.show{
        display: flex;
        flex-direction: column;
    }

    .mobile-menu{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        left: 100%;
        background-color: #475465;
        padding: 20px;
        gap: 30px;
        text-align: center;
        transition: ease-out .3s;
    }

    .mobile-menu .nav-item{
        list-style: none;
        margin-bottom: 30px;
    }

      /* MOBILE MENU */

  .mobile-menu-toggle{
    display: flex;
    height: 20px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .burger-menu {
    background-color: white;
    height: 1px;
    width: 25px;
    display: block;
    position: relative;
    transition: ease-out .3s;
    cursor: pointer;
  }

  .burger-menu::before{
    position: absolute;
    content: "";
    background-color: white;
    height: 1px;
    width: 25px;
    top: -9px;
    left: 0;
    width: 100%;
  }

  .burger-menu::after{
    position: absolute;
    content: "";
    background-color: white;
    height: 1px;
    width: 25px;
    bottom: -9px;
    width: 100%;
    left: 0;
  }

  .form-log-out{
    color: white !important;
    cursor: pointer;
  }
  
  .mobile-menu-items {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .mobile-menu-item {
    margin-bottom: 10px;
  }
  
  .mobile-menu-link {
    display: block;
    padding: 10px;
    color: #000;
    text-decoration: none;
  }
  
  .mobile-menu-link.active {
    font-weight: bold;
  }
  

  }

  @media screen and (max-width: 860px) {

    .search-property{
        padding: 0 20px;
    }

    .search-property-form input{
        width: 100%;
    }

    .container-list-property .test{
        padding: 0 20px;
    }

    .search-property-form{
        flex-direction: column;
    }

    /* .listing-properties{
        padding: 0 20px;
    } */

    .list-element {
        width: 100%;
    }

    .global-row{
        flex-direction: column;
    }

    .global-row .form-row{
        width: 100%;
    }

    .info-property{
        width: 100%;
    }

    .carousel-container{
        width: 100%;
    }

    .test{
        flex-direction: column-reverse;
        width: 100%;
    }

    .container{
        width: calc(100% - 40px);
    }

    .form-create .form-row .row {
        flex-direction: column;
    }
  }